.title {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;

}

.ftitle{
    justify-content: center;
    display: inline;
    font-size: 500%;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
}

.breaker {
    display: none;
}
.breaker:nth-child(3n){
    display: block ;
    width: 100%;
    height: 0;
}


.imagen {
    border-radius: 50%;
    width: 5%;
    height: 5%;
    display:inline;
    background-color: cornflowerblue;
}